.photos {
  display: flex;
  gap: 0.4em;
  padding: 0 2em;

  .photo {
    flex: 1;
    width: 100%;
    transform: skewX(10deg);
    border-radius: 15px;
    height: 50vh;
    object-fit: cover;
  }
}
